<%= nested_form_for @initiative, :html => { :class => '' } do |f| %>
  <%= render :partial => "layouts/messages", :locals => {:object => @initiative} %>  
	  <div class="control-group">
	    <%= f.label :state_id, :class => 'control-label' %>
	    <div class="controls">
	     <%= f.collection_select :state_id, @states, :id, :name,{}, {:class => 'input-xlarge'} %>
	    </div>
	  </div>
	   <div class="control-group">
	    <%= f.label 'year', 'Start - End Years', :class => 'control-label' %>
	    <div class="controls">
	      <%= select_year (@initiative.start_year || Date.today), {:start_year => Time.now.year+12, :end_year => Time.now.year - 12, :field_name => :start_year, :prefix => :initiative}, {:class=> 'input-medium'} %>
	    -
	      <%= select_year (@initiative.end_year || Date.today), {:start_year => Time.now.year+12, :end_year => Time.now.year-3, :field_name => :end_year, :prefix => :initiative}, {:class=> 'input-medium'} %>
	    </div>
	  </div>
	   <div class="control-group">
	    <%= f.label :name, 'Initiative Name', :class => 'control-label' %>
	    <div class="controls">
	     <%= f.text_field :name, :class => 'text_field input-xxlarge'%>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :description, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_area :description, :class => 'ckeditor input-xxlarge' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :topic_ids, 'Initiative Topics', :for => 'initiative_topic_ids', :class => 'control-label' %>
	    <div class="controls"> 
	     <%= f.collection_select :topic_ids, @topics, :id, :name, {:name => 'initiative[topic_ids][]'}, {:multiple => :true, :class=>'input-xxlarge'} %>
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span5">
		   <div class="control-group">
		     <%= f.label :population, 'Population Targets', :class => 'control-label' %>
		     <div class="controls"> 
		     	<% @populations.each do |pop| %>
					<%= check_box_tag(
		                            "initiative[population_ids][]", 
		                            pop.id, 
		                            @initiative.populations.detect{|d| d == pop}) %>
					<%= "#{pop.target}"%><br />
				<% end %>
		    </div>
		   </div>
		</div>
  		<div class="span5">
		   <div class="control-group">
		     <%= f.label :pd, 'PD Receivers', :class => 'control-label' %>
		     <div class="controls"> 
		     	<% @pds.each do |pd| %>
					<%= check_box_tag(
		                            "initiative[professional_ids][]", 
		                            pd.id, 
		                            @initiative.professionals.detect{|d| d == pd}) %>
					<%= "#{pd.name}"%><br />
				<% end %>
		    </div>
		  </div>
		  </div>
	  </div>
	  <div class="control-group">
	 		<%= f.fields_for :implementations %>
	  </div>
	  <div class="control-group">	  
	  <%= f.link_to_add "Add Implementation", :implementations, :class=>'btn btn-info block' %>
	  </div>
	  <div class="form-actions">
	    <%= f.submit nil, :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                initiatives_path, :class => 'btn' %>
	  </div>
  
<% end %>

