<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
	<%= render :partial => "layouts/messages", :flash => :flash %>   
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
   
 <div class="control-group">
     	<% @accessible_roles.each do |role| %>
			      <label for="role_<%=role%>" class ='control-label'><%= role.humanize %>
			      <%= radio_button_tag 'role', role, @user.role == role %>
			     </label>
		<% end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
