<h3>Users</h3>
<p><%= link_to "Users", users_path  %></p>

<h3>Other</h3>
<p><%= link_to "Populations", populations_path  %></p>

<p><%= link_to "Professional Development", professional_developments_path  %></p>

<p><%= link_to "Stages", stages_path  %></p>

<p><%= link_to "States", states_path  %></p>

<p><%= link_to "Topics", topics_path  %></p>

