<%- model_class = Initiative -%>
<div class="page-header">
  <h1>Search Initiatives</h1>
</div>
<table class="table table-striped table-bordered" id="data">
  <thead>
    <tr>
      <th></th>	
      <th>Start<br> Year</th>
      <th><%= model_class.human_attribute_name(:state_id) %><br>
      	<%= select_tag('search_state', options_from_collection_for_select(@states, "abbrev", "abbrev"), :prompt => "All States", :class => 'med-select' )%>
      </th>
      <th>Initiative Topic<br>
       	<%= select_tag('search_topic', options_from_collection_for_select(@topics, "name", "name"), :prompt => "All Topics", :class => 'xlarge-select' )%>
      </th>
      <th>Population Target<br>
      	<%= select_tag('search_population', options_from_collection_for_select(@populations, "target", "target"), :prompt => "All Populations",:class => 'large-select' )%>
      </th>
      <th>PD Receivers<br>
      	<%= select_tag('search_pd', options_from_collection_for_select(@pds, "name", "name"), :prompt => "All PDs",:class => 'large-select' )%>
      </th>
      <th>Implementation Stage<br>
      	<%= select_tag('search_implementation', options_from_collection_for_select(@stages, "name", "name"), :prompt => "All Implementations",:class => 'large-select' )%>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @initiatives.each do |initiative| %>
      <tr>
      	<td>
  			 <%= link_to 'view'.html_safe, home_path(initiative), :class => 'btn btn-mini btn-warning info' %>
  		</td>
      	<td><%= initiative.start_year %></td>
        <td><abbr title="<%= initiative.state.name %>"><%= initiative.state.abbrev %></abbr></td>
        <td><%= initiative.topics.collect(&:name).join(" & ") %></td>
        <td><%= initiative.populations.collect(&:target).join(" & ") %></td>
        <td><%= initiative.professionals.collect(&:name).join(" & ") %></td>
        <td>
        	<% initiative.implementations.each do |implementation| %>
  				<%= implementation.year %>: <%= implementation.stages.collect(&:name).join(" & ") %><%= ", " unless implementation == initiative.implementations.last %>
  			<%end%>
  		</td>
  		<td>
  			<%= initiative.description %>
  		</td>
  		<td>
  			<%= initiative.name %>
  		</td>
      </tr>
    <% end %>
  </tbody>
</table>