<h1>Toolkit Administration</h1>
<p><%= link_to "Manage Users", users_path  %></p>
<p><%= link_to "Manage States", states_path  %></p>
<p><%= link_to "Manage Topics", topics_path  %></p>
<p><%= link_to "Manage Stages", stages_path  %></p>
<p><%= link_to "Manage Populations", populations_path  %></p>
<p><%= link_to "Manage Professional Developments", professional_developments_path  %></p>

