<h1>Toolkit Administration</h1>
<div class="well">
<p><%= link_to "Manage Users", users_path  %><br> Edit or delete new toolkit users.</p>
<p><%= link_to "Manage States", states_path  %><br>Add, edit or delete the states and territories that contacts and initiatives can belong to.</p>
<p><%= link_to "Manage Topics", topics_path  %><br>Add, edit or delete the possible initiative topics.</p>
<p><%= link_to "Manage Stages", stages_path  %><br>Add, edit or delete the possible implementation stages that initiatives can contain.</p>
<p><%= link_to "Manage Populations", populations_path  %><br>Add, edit or delete the possible target populations for initiatives.</p>
<p><%= link_to "Manage Professional Developments", professional_developments_path  %><br>Add, edit or delete the possible professional development receivers for initiatives.</p>
</div>

