<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "State Grantee Profiles" %></title>
     <%= csrf_meta_tags %>
     <%= stylesheet_link_tag "application", :media => "all" %>
     <%= stylesheet_link_tag "sig_styles", :media => "all" %>
   </head>
  <body>

    <div class="navbar navbar-fluid-top">
        <div class="container-fluid">
            <ul class="nav">
            	<li><a class="brand" href="/search"><%= image_tag("SIGlogo.png")%></a> </li>
            	<li><a class="" href="/search">SPDG Initiatives</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
	        <div class="base_content">
	          <%= bootstrap_flash %>
	          <%= yield %>
	       </div>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; 2013  This website and the accompanying SigServe is managed by
				<a href="http://wrrc.uoregon.edu/tacs/" target="_blank">Technical Assistance and Consulting Services</a>
				at the
				<a target="_blank" href="http://www.uoregon.edu/">University of Oregon</a>
				and financially supported by SPDG projects.
	    </p>
		<p>
        		<% if user_signed_in? %>
        			 <%= link_to "SPDG Toolkit", "/" %> |
				   	 <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
				  <% else %>
				  		<%= link_to('Login', new_user_session_path)  %> 
				  <% end %>
         </p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "dataTables" %>

  </body>
</html>
